extends layout

block content
  .page-header.light-green.lighten-4
    .container
      h3 The Menu
    
  .container#menu
    .row
      .col.s12.m9.l9
        
        for category, categoryName in food
          .section.scrollspy(id=category.scrollspyId)
            h4.light-green.lighten-4.menu-section-title= categoryName
            
            for entree in category
              .menu-item
                 h5.menu-item-title= entree.name
                    small.menu-item-price.grey-text= '$' + entree.price
                 if entree.description
                    .menu-item-description= entree.description
      
      .col.hide-on-small-only.m3.l3
        ul.section.table-of-contents.special-font
          each category, categoryName in food
            li: a(href='#' + category.scrollspyId)= categoryName